@import "tailwindcss";

:root {
  /* Warna */
  /* --summit-orange: #F07A20; */
  --summit-orange: #F07A20;
  --summit-orange-light: #F59A4A;
  --summit-orange-dim: rgba(240, 122, 32, 0.15);

  /* Background */
  --bg-white: #FFFFFF;
  --bg-panel: #FAFAFA;

  /* Text */
  --text-primary: #111111;
  --text-secondary: #6B6B6B;
  --text-muted: #9A9A9A;

  /* Border */
  --border: #E5E5E5;
  --border-focus: #F07A20;
  --input-bg: #F7F7F7;

  /* Hero */
  --hero-overlay: rgba(0, 0, 0, 0.45);

  /* Fonts */
  --font-display: 'Barlow Condensed', sans-serif;
  --font-body: 'DM Sans', sans-serif;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;

  /* Shadow */
  --shadow-input: 0 1px 3px rgba(0, 0, 0, 0.06);
  --shadow-button: 0 2px 8px rgba(240, 122, 32, 0.25);

}

@theme inline {
  /* pengaturan warna */
  --color-primary: var(--summit-orange);
  --color-primary-light: var(--summit-orange-light);
  --color-primary-dim: var(--summit-orange-dim);

  /* pengaturan background */
  --color-background: var(--bg-white);
  --color-panel: var(--bg-panel);

  /* pengaturan text */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  /* pengaturan border */
  --color-border: var(--border);
  --color-input: var(--input-bg);

  /* Fonts */
  --font-sans: var(--font-body);
  --font-display: var(--font-display);

  /* Radius */
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply bg-background text-text-primary font-sans;
}

/* Heading pakai display font */
h1, h2, h3 {
  font-family: var(--font-display);
}

/* Overlay untuk gambar kiri login */
.hero-overlay {
  background: var(--hero-overlay);
}